
    {% extends 'base.html' %}
    {% load static %}
    
    
    {% block content %}
    
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
            <h2>My Account</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
     
 



    <section class="testimonial-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
 
                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="contact-form-area ">
                                        <form action="{% url 'addaddress' 0  %}" method="POST">
                                          {% csrf_token %}
                                          <div class="row">
                                               
                                              <div class="col-12 col-md-6">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" id="add1"  name="address_line_1" placeholder="Address"required/>
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" id="add1"  name="address_line_2" placeholder="Landmark"required/>
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <div class="form-group">
                                                      <select class="form-select custom-select mr-sm-2" id="id_city" name="city" required><br>
                                                          <option value="">Select city</option>
                                                          {% for city in city %}
                                                              
                                                                  <option value="{{ city }}">{{ city }}</option>
                                                              
                                                          {% endfor %}
                                                      </select><br>                                    
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <div class="form-group">
                                                      <select class="form-select custom-select mr-sm-2" id="id_state" name="state" required><br>
                                                          <option value="">Select State</option>
                                                          {% for state in state %}
                                  
                                                                  <option value="{{ state }}">{{ state }}</option>
                              
                                                          {% endfor %}
                                                      </select><br>                                    </div>
                                              </div>
                                              <div class="col-12">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" id="pincode" name="pincode"  placeholder="Pincode" required pattern="[0-9]+" title="Please enter only digits" maxlength="6"/>
                                                  </div>
                                              </div>
                                              <div class="form-group"><input type="checkbox" class="ml-3 mt-2" name="default">
                                                <label class="ml-2"> Set as default</label>
                                            </div>
              
                                              <div class="col-12">
                                                  <button type="submit" class="btn alazea-btn mt-15">Save</button>
                                              </div>
                                          </div>
                                      </form> 
                                  </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    
                                    <div class="alazea-service-area mb-100">

                                        <!-- Single Service Area -->
                                        <div class="single-service-area d-flex align-items-center" style="background:#70c745;">
                                            <!-- Icon -->
                                            <div class="service-icon mr-30">
                                                <img src="{% static 'img/core-img/s1.png' %}" alt="">
                                            </div>
                                            <!-- Content -->
                                            <div class="service-content">
                                                <a href="{% url 'changepassword' %}"  style=" color:#fff"><h5>Change your Password</h5></a>
                                             </div>
                                        </div>
                
                                        <!-- Sing le Service Area -->
                                        <div class="single-service-area d-flex align-items-center" style="background:#70c745;">
                                            <!-- Icon -->
                                            <div class="service-icon mr-30">
                                                <img src="{% static 'img/core-img/s2.png' %}" alt="">
                                            </div>
                                            <!-- Content -->
                                            <div class="service-content">
                                                <a href="{% url 'useraddress' %}" style=" color:#fff"><h5>View & Manage Addresses</h5></a>
                                             </div>
                                        </div>
                
                                        <!-- Single Service Area -->
                                        <div class="single-service-area d-flex align-items-center" style="background:#70c745;">
                                            <!-- Icon -->
                                            <div class="service-icon mr-30">
                                                <img src="{% static 'img/core-img/s3.png' %}" alt="">
                                            </div>
                                            <!-- Content -->
                                            <div class="service-content">
                                                <a href="{% url 'updateuserprofile'  %}" style=" color:#fff"><h5>Change your profile details</h5></a>
                                             </div>
                                        </div>

                                        <div class="single-service-area d-flex align-items-center" style="background:#70c745;">
                                            <!-- Icon -->
                                            <div class="service-icon mr-30">
                                                <img src="{% static 'img/core-img/s3.png' %}" alt="">
                                            </div>
                                            <!-- Content -->
                                            <div class="service-content">
                                                <a href="{% url 'orderhistory'  %}" style=" color:#fff"><h5>View & Manage orders and returns</h5></a>
                                             </div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
 
                         

                        <!-- Single Testimonial Slide -->
                        

                    </div>
                </div>
            </div>
        </div>
    </section>



    {% endblock content %}
