{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>nurture</title> 

    {% block link %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/classy-nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/elegant-icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightslider.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

 
{% endblock link %}


<style>

    .single-service-area{
        margin: 37px 0;

    }

    .alazea-service-area {
        border-radius: 5px;  
        border: 5px solid #ccc; 
        background: #70c745;
    }
    .contact-form-area  {
        margin-left:100px;
    }

</style>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="{% static 'img/core-img/leaf.png' %}" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            {% if user.is_authenticated %}
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>{{ user.username }} </span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: {{ user.phone }} </span></a>
                            </div>
                            {% endif %}

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                <!-- Language Dropdown -->
                                
                                <!-- Login -->
                                <div class="login">
                                    {% if user.is_authenticated %}
                                    <a href="#" style="font-size: 15px;  margin-right: 10px;"> <span> {{ user.first_name }} </span></a>
                                    <a href="{% url 'profile' %}" style="font-size: 15px;  margin-right: 10px;"> </i> <span>Profile </span></a>
                                    <a href="{% url 'logout' %}" style="font-size: 15px;  margin-right: 20px;"> <span>Logout</span></a>
                                    {% else %}
                                    <a href="{% url 'login' %}" style="font-size: 15px;  margin-right: 10px;"><i class="fa fa-user"  ></i> <span>Login</span></a>

                                    {% endif %}
                                </div>
                                <!-- Cart -->
                                <div class="cart">
                                    <a href="{% url 'cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 22px;  margin-right: 10px;"></i> </a>
                                </div>
                                <div class="wishlist-compare d-flex flex-wrap align-items-center">
                                    <a href="{% url 'wishlist' %}" class="wishlist-btn ml-15"><i class="icon_heart_alt" style="font-size: 22px;  margin-right: 10px;"></i></a>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="{% url 'home' %}" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'plants' 0 %}">Shop</a></li>
                                    {% comment %} <li><a href="#">Pots</a> {% endcomment %}
                                         
                                    </li>
                                    {% comment %} <li><a href="shop.html">Fertlizers</a></li> {% endcomment %}
                                     {% comment %} <li><a href=".main-footer-area">Contact</a></li> {% endcomment %}
                                </ul>

                                <!-- Search Icon -->
                                {% comment %} <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div> {% endcomment %}

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="{% url 'search' %}" method="get" >
                            <input type="search" name="keyword" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>




{% block content %}
        
{% endblock content %}


<footer class="footer-area bg-img" style="background-image: url({% static 'img/bg-img/3.jpg' %});">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="#"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                        </div>
                        <p>The love for gardening is a seed once sown that never dies.</p>
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>QUICK LINK</h5>
                        </div>
                        <nav class="widget-nav">
                            <ul>
                                <li><a href="#">Purchase</a></li>
                                 <li><a href="#">Payment</a></li>
                                 <li><a href="#">Return</a></li>
                                 <li><a href="#">Shipping</a></li>
                                 <li><a href="#">Orders</a></li>
                             </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>BEST SELLER</h5>
                        </div>

                        <!-- Single Best Seller Products -->
                        <div class="single-best-seller-product d-flex align-items-center">
                            <div class="product-thumbnail">
                                <a href="shop-details.html"><img src="{% static 'img/bg-img/4.jpg' %}" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="shop-details.html">Cactus Flower</a>
                             </div>
                        </div>

                        <!-- Single Best Seller Products -->
                        <div class="single-best-seller-product d-flex align-items-center">
                            <div class="product-thumbnail">
                                <a href="shop-details.html"><img src="{% static 'img/bg-img/5.jpg' %}" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="shop-details.html">Tulip Flower</a>
                             </div>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>CONTACT</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>Address:</span> 505 Silk Rd, India</p>
                            <p><span>Phone:</span> +91 9963524178</p>
                            <p><span>Email:</span> dhrishia@gmail.com</p>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                       
                    </div>
                </div>
                <!-- Footer Nav -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'js/plugins/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>
<script src="{% static 'js/lightslider.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>



</body>

</html>