
    {% extends 'base.html' %}
    {% load static %}
    
    
    {% block content %}
    
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
         </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                        <h5 class="breadcrumb-item active" aria-current="page">Hello,  {{request.user.first_name}}</h5>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Contact Area Info Start ##### -->
     


    <section class="testimonial-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonials-slides owl-carousel">

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="contact-form-area  ">
                           

                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            <div class="form-row">
                             
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Current Password</label>
                                                        <input type="password" name="currentpassword" id="currentpassword" placeholder="Enter Current Password"  class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                             
                                            <div class="form-row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <input type="password" name="newpassword" placeholder="Enter New Password"  class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                             
                                            <div class="form-row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Confirm New Password</label>
                                                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm New Password Again"  class="form-control" required>
                                                    </div>
                                                </div>
                             
                                            </div>
                                            <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
                                        </form>
                
                
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    
                                    <div class="alazea-service-area mb-100">

                                        <!-- Single Service Area -->
                                        <div class="single-service-area d-flex align-items-center" style="background:#70c745;">
                                            <!-- Icon -->
                                            <div class="service-icon mr-30">
                                                <img src="{% static 'img/core-img/s1.png' %}" alt="">
                                            </div>
                                            <!-- Content -->
                                            <div class="service-content">
                                                <a href="{% url 'changepassword' %}"  style=" color:#fff"><h5>Change your Password</h5></a>
                                             </div>
                                        </div>
                
                                        <!-- Sing le Service Area -->
                                        <div class="single-service-area d-flex align-items-center" style="background:#70c745;">
                                            <!-- Icon -->
                                            <div class="service-icon mr-30">
                                                <img src="{% static 'img/core-img/s2.png' %}" alt="">
                                            </div>
                                            <!-- Content -->
                                            <div class="service-content">
                                                <a href="{% url 'useraddress' %}" style=" color:#fff"><h5>View & Manage Addresses</h5></a>
                                             </div>
                                        </div>
                
                                        <!-- Single Service Area -->
                                        <div class="single-service-area d-flex align-items-center" style="background:#70c745;">
                                            <!-- Icon -->
                                            <div class="service-icon mr-30">
                                                <img src="{% static 'img/core-img/s3.png' %}" alt="">
                                            </div>
                                            <!-- Content -->
                                            <div class="service-content">
                                                <a href="{% url 'updateuserprofile'  %}" style=" color:#fff"><h5>Change your profile details</h5></a>
                                             </div>
                                        </div>

                                        <div class="single-service-area d-flex align-items-center" style="background:#70c745;">
                                            <!-- Icon -->
                                            <div class="service-icon mr-30">
                                                <img src="{% static 'img/core-img/s3.png' %}" alt="">
                                            </div>
                                            <!-- Content -->
                                            <div class="service-content">
                                                <a href="{% url 'orderhistory'  %}" style=" color:#fff"><h5>View & Manage orders and returns</h5></a>
                                             </div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div>

                         

                        <!-- Single Testimonial Slide -->
                        

                    </div>
                </div>
            </div>
        </div>
    </section>

    
    



    {% endblock content %}
