{% extends 'base.html' %}
{% load static %}


{% block content %}


    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             <li class="breadcrumb-item active" aria-current="page">Page not found</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
 
   
    {% endblock content %}
